* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background: #eeeeee;
    font-family: 'Open Sans', sans-serif;
}

#particle-container {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: -1;
}

@keyframes particle {
    from { margin-top: 0; }
    to { margin-top: 2000px; }
}

.particle {
    position: absolute;
    font-family: 'Quicksand';
    font-weight: bold;
    animation-name: particle;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#header {
    width: 100%;
}

#header-bg {
    height: 400px;
    background: #dddddd;
}

#masthead {
    width: 500px;
    height: 800px;
    margin: 0 auto;
    margin-top: -400px;
}

#title-section {
    text-align: center;
    width: 500px;
    margin: 0 auto;
    margin-top: -250px;
}

#title-section h2 {
    font-size: 1.6em;
    font-family: 'Quicksand';
}

#title-section h3 {
    font-size: 0.8em;
    text-transform: uppercase;
}

#main {
    position: relative;
    display: block;
    height: 100%;
}

#bg {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Tahoma;
    display: table;
    position: absolute;
}

#container {
    display: table-cell;
    vertical-align: middle;
    position: relative
    width: 100%;
    height: 100%;
}

#logo {
    position: fixed;
    width: 231px;
    height: 50px;
    top: 6px;
    left: 0;
    background: url("images/logo_h_white.png") no-repeat;
    text-align: left;
    line-height: 12px;
    display: none;
    transition: display, background 0.2s;
    overflow: show;
    white-space: nowrap;
    z-index: 400;
}

#logo:hover {
    background: url("images/logo_h_white_yellow_accent.png") no-repeat;
}

#logoimg {
    width: 100px;
    height: 328px;
    position: relative;
    background: url("images/logo_white.png"); 
    display: block;
    z-index: 200;
    margin: 0 auto;
    transition: background 0.2s;
}

#logoimg:hover {
    background: url("images/logo_white_yellow_accent.png");
}

#htext {
	width: 100%;
	height: 300px;
    font-size: 10px;
    color: white;
	text-align: center;
	position: absolute;
	z-index: 250;
	top: 270px;
    font-weight: bold;
}

#scrollcontainer {
    top: -70px;
    opacity: 1;
    width: 50px;
    height: 50px;
    position: relative;
    margin: 0 auto;
    display: block;
    transition: opacity 1s;
}
#scrollarrow {
    width: 50px;
    height: 50px;
    display: block;
    position: relative;
    margin: 0 auto;
    background: url("images/scroll_arrow.png");
    -webkit-animation: pulse 2s infinite; 
    animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
    0% { opacity: 0.5; }
    50% { opacity: 1; }
    100% { opacity: 0.5; }
}

#page {
    position: relative;
    display: block;
    opacity: 0;
}

.boxtitle, .paneltitle {
    font-size: 18px;
    position: relative;
    display: block;
    margin: 0 auto;
    height: 100px;
}

.boxtitle .ttext, .paneltitle .ttext {
    height: 30px;
    position: relative;
    top: 83px;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
}

.boxtitle {
    width: 500px;
    color: #fff000;
}

.paneltitle {
    width: 100%;
    color: white;
}

.box, .panel, #footer {
    text-align: center;
    position: relative;
    display: block;
    margin: 0 auto;
}

.box {
    padding: 20px;
    width: 500px;
    background: #fff000;
    font-size: 12px;
}

.box a {
    color: #0e90fd;
    font-weight: bold;
    text-decoration: none;
}

.box a:hover {
    color: black;
}

.panel {
    padding: 20px 0;
    width: 100%;
    background: white;
    font-size: 12px;
}

.panel p {
    width: 520px;
    padding: 0;
    margin: 0 auto;
}

.langimg {
    margin-top: 4px;
}

.workimg {
    padding: 70px;
    margin-top: 50px;
    margin-bottom: 15px;
    border: 1px #cccccc solid;
}

.workimg: last-of-type {
    margin-bottom: 30px;
}

.worktitle {
    font-size: 14px;
    color: gray;
}

line {
    left: 0;
    right: 0;
    height: 1px;
    position: relative;
    margin-top: 3px;
    margin-bottom: 5px;
    display: block;
    background: #cccccc;
}

exampletop {
    margin: 0 auto;
    width: 800px;
    height: 65px;
    position: relative;
    display: block;
    background: url("images/example_top.png");
}

scarfcontainer {
    margin: 0 auto;
    width: 800px;
    height: 250px;
    position: relative;
    display: block;
    background: url("images/example.png") no-repeat;
    overflow: hidden;
}

/* SCARFCODE1 BEGINS */

scarves {
    width: 200px;
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 495px;
    z-index: 10;

}

scarf1, scarf2, scarf3, scarf4 {
    width: 25px;
    height: 150px;
    position: absolute;
    transition: all 0.3s;
}

scarf1 {
    margin-left: 0;
    margin-top: -100px;
}

scarf1:hover {
    margin-top: -65px;
}

scarf2 {
    margin-left: 30px;
    margin-top: -80px;
}

scarf2:hover {
    margin-top: -45px;
}

scarf3 {
    margin-left: 60px;
    margin-top: -100px;
}

scarf3:hover {
    margin-top: -65px;
}

scarf4 {
    margin-left: 90px;
    margin-top: -120px;
}

scarf4:hover {
    margin-top: -85px;
}

/* SCARFCODE1 ENDS */

.panel a {
    z-index: 1;
}

downloads {
    display: block;
    position: relative;
    margin: 0 auto;
    z-index: 5;
}

.dbutton, .dbutton2 {
    width: 90px;
    display: inline-block;
    font-weight: bold;
    color: gray;
    border: 1px #cccccc solid;
    margin-top: 20px;
    border-radius: 2px;
    padding: 20px;
    line-height: 14px;
    transition: all 0.3;
    
}

.dbutton:hover, .dbutton2:hover {
    background: #dddddd;
}

instructions {
    width: 500px;
    max-height: 0px;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: left;
    overflow: hidden;
    transition: all 0.5;
}

itext {
    padding: 20px;
    display: block;
}

sgallery {
    display: block;
    height: 300px;
    overflow-y: scroll;
}

#footer {
    padding: 10px 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    font-size: 10px;
    color: white;
    margin-top: 50px;
}

.pwide {
    text-align: left;
    width: 700px;
    margin: 0 auto;
	margin-bottom: 30px;
}

#imgload {
    overflow: hidden;
    height: 0px;
    display: block;
    position: relative;
    opacity: 0;
}