* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: #eeeeee;
	font-family: 'Roboto Condensed', 'Arial', sans-serif;
	color: #111111;
}

#header {
	width: 100%;
	height: 50%;
	background: #3ae0b3;
	position: absolute;
	text-align: center;
	font-family: 'Inknut Antiqua', 'Times', serif;
	font-size: 1.2em;
	color: #eeeeee;
}