* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    font-family: 'Open Sans', sans-serif;
    color: #444444;
    position: absolute;
}

a {
    color: #00DEB4;
}

a:visited {
    color: #00997D;
}

a:hover {
    color: #FF7559;
}

#particle-container {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: -1;
    font-size: 1.6em;
}

@keyframes particle {
    from { margin-top: 0; }
    to { margin-top: 2000px; }
}

.particle {
    position: absolute;
    font-family: 'Quicksand';
    font-weight: bold;
    animation-name: particle;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#header {
    width: 100%;
}

#header-bg {
    height: 250px;
    background: white;
}

#masthead {
    width: 100%;
    max-width: 500px;
    height: 800px;
    margin: 0 auto;
    margin-top: -400px;
    background: url("images/masthead.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#title-section {
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: -250px;
}

#title-section h2 {
    font-size: 1.6em;
    font-family: 'Quicksand';
}

#title-section h3 {
    font-size: 0.8em;
    text-transform: uppercase;
    color: #FF7559;
}

#page {
    position: relative;
    display: block;
}

#page img {
    max-width: 100%;
}

.boxtitle, .paneltitle {
    font-size: 1.4em;
    position: relative;
    display: block;
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
    font-family: 'Quicksand';
}

.boxtitle .ttext, .paneltitle .ttext {
    height: 30px;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.boxtitle {
    width: 100%;
    max-width: 500px;
}

.paneltitle {
    width: 100%;
}

.box, .panel, #footer {
    text-align: center;
    position: relative;
    display: block;
    margin: 0 auto;
}

.box {
    padding: 20px;
    width: 100%;
    max-width: 500px;
    background: #fff000;
    font-size: 0.75em;
}

.box a {
    color: #0e90fd;
    font-weight: bold;
    text-decoration: none;
}

.box a:hover {
    color: black;
}

.panel {
    padding: 20px 0;
    width: 100%;
    background: white;
    font-size: 0.75em;
}

.panel p {
    width: 100%;
    max-width: 520px;
    padding: 0;
    margin: 0 auto;
}

.langimg {
    margin-top: 4px;
}

.workimg {
    padding: 70px;
    margin-top: 50px;
    margin-bottom: 15px;
    border: 1px #cccccc solid;
}

.workimg: last-of-type {
    margin-bottom: 30px;
}

.worktitle {
    font-size: 1.2em;
    color: gray;
}

line {
    left: 0;
    right: 0;
    height: 1px;
    position: relative;
    margin-top: 3px;
    margin-bottom: 5px;
    display: block;
    background: #cccccc;
}

#websites {
    width: 100%;
    height: 80%;
}

.website {
    width: 50%;
    height: 50%;
    float: left;
    position: relative;
}

.website::after {
    content: "";
    opacity: 0.67;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    transition: all 0.2s;
}

.website-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.website-logo {
    position: absolute;
    width: 33%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    transition: all 0.2s;
}

.website:hover .website-bg {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.website:hover::after, .website:hover .website-logo {
    opacity: 0;
}

.website:nth-child(1) .website-bg {
    background-image: url("images/website-lander.png");
}

.website:nth-child(1)::after {
    background: #00FFD0;
}

.website:nth-child(1) .website-logo {
    background-image: url("images/website-lander-logo.png");
}

.website:nth-child(2) .website-bg {
    background-image: url("images/website-xmlspecgen.png");
}

.website:nth-child(2)::after {
    background: #FF7559;
}

.website:nth-child(2) .website-logo {
    background-image: url("images/website-xmlspecgen-logo.png");
}

.website:nth-child(3) .website-bg {
    background-image: url("images/website-vanjav.png");
}

.website:nth-child(3)::after {
    background: #FFD324;
}

.website:nth-child(3) .website-logo {
    background-image: url("images/website-vanjav-logo.png");
}

.website:nth-child(4) .website-bg {
    background-image: url("images/website-korranews.png");
}

.website:nth-child(4)::after {
    background: #00FFD0;
}

.website:nth-child(4) .website-logo {
    background-image: url("images/website-korranews-logo.png");
}

#apps {
    width: 100%;
    height: 622px;
    margin-top: 100px;
    display: flex;
    flex-flow: row;
}

#apps-left {
    flex: 1 1 auto;
    background: repeating-linear-gradient(
        to left,
        #00FFD0 0px,
        #00FFD0 350px,
        #FF7559 350px,
        #FF7559 700px,
        #FFD324 700px,
        #FFD324 1050px
    );
    background-position: center;
}

#apps-middle {
    width: 100%;
    max-width: 700px;
    height: 100%;
    margin: 0 auto;
    flex: 0 1 auto;
}

#apps-right {
    flex: 1 1 auto;
    background: repeating-linear-gradient(
        to right,
        #00FFD0 0px,
        #00FFD0 350px,
        #FF7559 350px,
        #FF7559 700px,
        #FFD324 700px,
        #FFD324 1050px
    );

}

.app {
    width: 50%;
    height: 100%;
    float: left;
    background-size: cover;
    background-position: center;
}

.app:nth-child(1) {
    background-image: url("images/app-rlp.png");
}

.app:nth-child(2) {
    background-image: url("images/app-tp.png");
}

exampletop {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    height: 65px;
    position: relative;
    display: block;
    background: url("images/example_top.png");
}

scarfcontainer {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    height: 250px;
    position: relative;
    display: block;
    background: url("images/example.png") no-repeat;
    overflow: hidden;
}

/* SCARFCODE1 BEGINS */

scarves {
    width: 200px;
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 495px;
    z-index: 10;

}

scarf1, scarf2, scarf3, scarf4 {
    width: 25px;
    height: 150px;
    position: absolute;
    transition: all 0.3s;
}

scarf1 {
    margin-left: 0;
    margin-top: -100px;
}

scarf1:hover {
    margin-top: -65px;
}

scarf2 {
    margin-left: 30px;
    margin-top: -80px;
}

scarf2:hover {
    margin-top: -45px;
}

scarf3 {
    margin-left: 60px;
    margin-top: -100px;
}

scarf3:hover {
    margin-top: -65px;
}

scarf4 {
    margin-left: 90px;
    margin-top: -120px;
}

scarf4:hover {
    margin-top: -85px;
}

/* SCARFCODE1 ENDS */

downloads {
    display: block;
    position: relative;
    margin: 0 auto;
    z-index: 5;
}

.dbutton, .dbutton2 {
    width: 90px;
    display: inline-block;
    font-weight: bold;
    color: gray;
    border: 1px #cccccc solid;
    margin-top: 20px;
    border-radius: 2px;
    padding: 20px;
    line-height: 14px;
    transition: all 0.3;
    
}

.dbutton:hover, .dbutton2:hover {
    background: #dddddd;
}

instructions {
    width: 100%;
    max-width: 500px;
    max-height: 0px;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: left;
    overflow: hidden;
    transition: all 0.5;
}

itext {
    padding: 20px;
    display: block;
}

sgallery {
    display: block;
    height: 300px;
    overflow-y: scroll;
}

#footer {
    padding: 10px 0;
    width: 100%;
    background: rgba(0,0,0,0.5);
    font-size: 0.6em;
    color: white;
    margin-top: 50px;
}

.pwide {
    text-align: left;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
	margin-bottom: 30px;
}

#imgload {
    overflow: hidden;
    height: 0px;
    display: block;
    position: relative;
    opacity: 0;
}

@media screen and (max-width: 500px) {
    #header-bg {
        height: 200px;
    }

    #masthead {
        margin-top: -400px;
    }

    #title-section {
        margin-top: -250px;
    }

    #websites {
        height: 100%;
    }

    .website {
        width: 100%;
        height: 25%;
    }
 }