* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background: #f6f6f6;
    font-family: 'Open Sans', sans-serif;
    color: #444444;
    position: absolute;
}

a {
    color: #00DEB4;
}

a:visited {
    color: #00997D;
}

a:hover {
    color: #FF7559;
}

button {
    background: #FF7559;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
}

button:hover {
    background: #FF2B00;
}

button:active {
    box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}

.github {
    font-size: 0.6em;
    text-decoration: none;
    display: inline;
}

.github:hover .icon {
    fill: #FF2B00;
}

.github h2 {
    font-size: 1.4em !important;
    margin: 0;
    font-family: "Quicksand", sans-serif;
}

.icon {
    fill: #FF7559;
}

#particle-container {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: -1;
    font-size: 1.6em;
}

@keyframes particle {
    from { margin-top: 0; }
    to { margin-top: 2000px; }
}

.particle {
    position: absolute;
    font-family: 'Quicksand';
    font-weight: bold;
    animation-name: particle;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#header {
    width: 100%;
}

#header-bg {
    height: 250px;
    background: white;
}

#masthead {
    width: 100%;
    max-width: 500px;
    height: 800px;
    margin: 0 auto;
    margin-top: -400px;
    background: url("images/masthead.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#title-section {
    text-align: center;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: -250px;
}

#title-section h2 {
    font-size: 1.6em;
    font-family: 'Quicksand';
}

#title-section h3 {
    font-size: 0.8em;
    text-transform: uppercase;
    color: #FF7559;
}

#page {
    position: relative;
    display: block;
}

#page img {
    max-width: 100%;
}

.boxtitle, .paneltitle {
    font-size: 1.4em;
    position: relative;
    display: block;
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
    font-family: 'Quicksand';
}

.boxtitle .ttext, .paneltitle .ttext {
    height: 30px;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
}

.boxtitle {
    width: 100%;
    max-width: 500px;
}

.paneltitle {
    width: 100%;
}

.box, .panel, #footer {
    text-align: center;
    position: relative;
    display: block;
    margin: 0 auto;
}

.box {
    padding: 20px;
    width: 100%;
    max-width: 500px;
    font-size: 0.75em;
    border: 1px solid #00DEB4;
    background: rgba(246, 246, 246, 0.83);
    color: rgba(0,0,0,0.67);
}

.box a {
    font-weight: bold;
    text-decoration: none;
}
.panel {
    padding: 20px 0;
    width: 100%;
    background: white;
    font-size: 0.75em;
}

.panel p {
    width: 100%;
    max-width: 700px;
    padding: 0;
    margin: 0 auto;
}

.pwide {
    text-align: left;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: none;
}

#resume-button {
    margin-bottom: 1em;
}

.resume-expanded {
    height: auto;
}

.resume-subtitle {
    color: #FF7559;
}

.pdf {
    border: 2px solid #FF7559;
    background: white;
    color: #FF7559;
    padding: 1.5em 0.5em;
    margin-top: 1em;
    box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
    cursor: pointer;
}

.pdf:hover {
    background: #FF7559;
    color: #eee;
}

.worktitle {
    font-size: 1.2em;
    color: gray;
}

#websites {
    width: 100%;
    height: 80%;
    position: relative;
}

.website {
    width: 50%;
    height: 50%;
    float: left;
    position: absolute;
    transition: all 0.3s;
}

.website::after {
    content: "";
    opacity: 0.67;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    transition: all 0.2s;
}

.website-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.website-logo {
    position: absolute;
    width: 33%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1;
    transition: all 0.2s;
}

.website-note {
    font-size: 0.8rem;
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: #FF7559;
    padding: 0 1.2rem;
    height: 2rem;
    line-height: 2rem;
    color: #eee;
    text-transform: uppercase;
    font-family: "Quicksand";
    font-weight: bold;
    cursor: pointer;
}

.website:hover {
    cursor: pointer;
}

.website:hover .website-bg {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.website:hover::after, .website:hover .website-logo {
    opacity: 0;
}

.website:hover .website-note {
    opacity: 1;
}

.website:nth-child(1) {
    top: 0;
    left: 0;
}

.website:nth-child(1) .website-bg {
    background-image: url("images/website-lander.png");
}

.website:nth-child(1)::after {
    background: #00FFD0;
}

.website:nth-child(1) .website-logo {
    background-image: url("images/website-lander-logo.png");
}

.website:nth-child(2) {
    top: 0;
    right: 0;
}

.website:nth-child(2) .website-bg {
    background-image: url("images/website-xmlspecgen.png");
}

.website:nth-child(2)::after {
    background: #FF7559;
}

.website:nth-child(2) .website-logo {
    background-image: url("images/website-xmlspecgen-logo.png");
}

.website:nth-child(3) {
    bottom: 0;
    left: 0;
}

.website:nth-child(3) .website-bg {
    background-image: url("images/website-vanjav.png");
}

.website:nth-child(3)::after {
    background: #FFD324;
}

.website:nth-child(3) .website-logo {
    background-image: url("images/website-vanjav-logo.png");
}

.website:nth-child(4) {
    bottom: 0;
    right: 0;
}

.website:nth-child(4) .website-bg {
    background-image: url("images/website-korranews.png");
}

.website:nth-child(4)::after {
    background: #00FFD0;
}

.website:nth-child(4) .website-logo {
    background-image: url("images/website-korranews-logo.png");
}

.website-selected {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.website-selected:hover {
    cursor: default;
}

.website-selected:hover .website-bg {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.website-selected .website-logo {
    display: none;
}

.website-selected::after, .website-selected:hover::after {
    background: #eee !important;
    opacity: 1;
}

.website-selected:hover .website-logo {
    opacity: 1;
}

.website-selected .website-note {
    z-index: 3;
}

.website-more {
    opacity: 0;
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    pointer-events: none;
}

.website-selected .website-more {
    pointer-events: initial;
}

.website-selected .website-more, .website-selected .website-note {
    opacity: 1;
}

.wm-border {
    position: absolute;
    background: #FF7559;
}

.wm-border-top {
    width: 100%;
    height: 2rem;
    top: 0;
    left: 0;
}

.wm-border-bottom {
    width: 100%;
    height: 2rem;
    bottom: 0;
    left: 0;
}

.wm-border-left {
    width: 2rem;
    height: 100%;
    left: 0;
    top: 0;
}

.wm-border-right {
    width: 2rem;
    height: 100%;
    right: 0;
    top: 0;
}

.wm-info {
    position: absolute;
    top: 50%;
    left: calc(25% + 1rem);
    transform: translate(-50%, -50%);
    width: calc(50% - 2rem);
    max-width: 300px;
    max-height: calc(100% - 4rem);
    padding: 2rem 1rem;
    overflow: auto;
}

.wm-info-top {
        text-align: center;
}

.wm-info p {
    font-size: 0.8em;
}

.wm-info p:first-of-type {
    font-size: 1em;
}

.wm-logo {
    width: 200px;
}

.website-more h2 {
    font-family: "Quicksand", sans-serif;
    font-size: 1.2em;
}

.website:nth-child(1) .website-more h2 {
    margin-top: 0;
}

.website-more a {
    color: #FF7559;
}

.website-more a:hover {
    color: #FF2B00;
}

.wm-gallery {
    width: calc(50% - 2rem);
    height: calc(100% - 4rem);
    position: absolute;
    top: 2rem;
    right: 2rem;
    background-size: cover;
    background-position: top center;
}

.website:nth-child(1) .wm-gallery {
    background-image: url("images/website-lander.png");
}

.website:nth-child(2) .wm-gallery {
    background-image: url("images/website-xmlspecgen-alt.png");
    background-position: top left;
}

.website:nth-child(3) .wm-gallery {
    background-image: url("images/website-vanjav.png");
}

.website:nth-child(4) .wm-gallery {
    background-image: url("images/website-korranews.png");
}

#apps {
    width: 100%;
    height: 622px;
    margin-top: 100px;
    display: flex;
    flex-flow: row;
}

#apps-left {
    flex: 1 1 auto;
    background: repeating-linear-gradient(
        to left,
        #00FFD0 0px,
        #00FFD0 350px,
        #FF7559 350px,
        #FF7559 700px,
        #FFD324 700px,
        #FFD324 1050px
    );
    background-position: center;
}

#apps-middle {
    width: 100%;
    max-width: 700px;
    height: 100%;
    margin: 0 auto;
    flex: 0 1 auto;
}

#apps-right {
    flex: 1 1 auto;
    background: repeating-linear-gradient(
        to right,
        #00FFD0 0px,
        #00FFD0 350px,
        #FF7559 350px,
        #FF7559 700px,
        #FFD324 700px,
        #FFD324 1050px
    );

}

.app {
    width: 50%;
    height: 100%;
    float: left;
    background-size: cover;
    background-position: center;
    text-align: center;
    position: relative;
}

.app:nth-child(1) {
    background-image: url("images/app-rlp.png");
}

.app:nth-child(2) {
    background-image: url("images/app-tp.png");
}

.app-info {
    position: absolute;
    bottom: 67px;
    left: 50%;
    transform: translate(-50%, 0);
}

.app-info .icon {
    fill: white;
}

.app-info a {
    color: white;
}

.app-info a:hover .icon {
    fill: #FF7559;
}

.app-info a:hover {
    color: #FF7559;
}

.app-logo {
    position: absolute;
    width: 50%;
    height: 175px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.app:nth-child(1) .app-logo {
    background-image: url("images/app-rlp-logo.png");
}

.app:nth-child(2) .app-logo {
    background-image: url("images/app-tp-logo.png");
    width: 70%;
    height: 350px;
}

#footer {
    padding: 10px 0;
    width: 100%;
    background: rgba(255,255,255,0.83);
    font-size: 0.6em;
    color: #FF7559;
    margin-top: 50px;
}

#imgload {
    overflow: hidden;
    height: 0px;
    display: block;
    position: relative;
    opacity: 0;
}

@media screen and (max-width: 500px) {
    #header-bg {
        height: 200px;
    }

    #masthead {
        margin-top: -400px;
    }

    #title-section {
        margin-top: -250px;
    }

    #websites {
        height: 100%;
    }

    .website {
        width: 100%;
        height: 25%;
        transition: unset;
    }

    .website::after {
        transition: unset;
    }

    .website-logo {
        width: 33%;
        transition: unset;
    }

    .website:nth-child(1) {
        top: 0;
        bottom: initial;
    }

    .website:nth-child(2) {
        top: 25%;
        bottom: initial;
    }

    .website:nth-child(3) {
        top: 50%;
        bottom: initial;
    }

    .website:nth-child(4) {
        top: 75%;
        bottom: initial;
    }

    .website-selected {
        top: 0 !important;
        bottom: 0 !important;
        height: 100%;
    }

    .website-more {
        transition: unset;
    }

    .wm-info {
        top: 50%;
        left: calc(50%);
        transform: translate(-50%, -50%);
        width: calc(100% - 2rem);
        max-height: calc(100% - 4rem);
    }

    .wm-info p {
        padding: 0 1em;
    }

    .wm-gallery {
        display: none;
    }
 }